*{
    margin: 0;
    padding: 0;
    font-family: "Readex Pro", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background: #7c9c96;
}

::-webkit-scrollbar-thumb{
    background: #1C6758;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #16433a;
}

.flex{
    display: flex;
}

.flexCol{
    flex-direction: column;
}

header{
    position: sticky;
    z-index: 1000;
    top: 0rem;
}

.navContShadow{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.435);
}

#navTop{
    justify-content: center;
    background-color: #1C6758;
    color: white;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 4px;
}

#navBottom{
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.733);
    backdrop-filter: blur(3px);
}

.fnt{
    font-size: 0.8rem;
    color: #333333;
    font-weight: 500;
}

ul{
    list-style: none;
    gap: 2rem;
}

.btn{
    font-size: 0.8rem;
    background-color: #1C6758;
    color: white;
    font-weight: 500;
    padding: 10px 16px;
    border-radius: 63rem;
}

.logo{
    height: 2rem;
}

.test{
    height: 200px;
    width: 600px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #1C6758;
}

.activeTab{
    position: relative;
    padding-bottom: 0.2rem;
}

.activeTab::after{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    height: 0.19rem;
    background-color: #1C6758;
    width: 100%;
    border-radius: 9999px;
}

.tabs {
    position: relative;
    padding-bottom: 0.2rem;
}

.tabs::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.19rem;
    width: 0;
    background-color: #1C6758;
    border-radius: 9999px;
    transition: width 150ms ease-in-out;
}

.tabs:hover::after {
    width: 70%;
}


.fContBottom{
    justify-content: center;
    background-color: #1C6758;
    color: white;
    font-size: 0.7rem;
    padding: 6px;
}

.fBox4 > img{
    height: 8rem;
}

.fBox4{
    justify-content: center;
    align-items: center;
}

.fContTop{
    padding: 2rem;
    color: white;
    background-color: #3D8361;
    justify-content: space-between;
}

footer{
    bottom: 0;
}

.footCont{
    max-width: 100vw;
}

.fBoxes{
    gap: 1rem;
    font-size: 0.7rem;
    width: 20%;
}

.linkCont{
    display: flex;
}

.linkIcons > img{
    height: 1rem;
}

.fLogoCont > img{
    height: 2rem;
}

.fIconsCont{
    gap: 0.2rem;
}

.fIconsCont> div> a > img{
    height: 1.4rem;
}

.fheadings{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.fLinks:hover{
    cursor: pointer;
    text-decoration: underline;
    padding-left: 0.3rem;
}

.fLinks{
    transition: linear 150ms;
}

.contactTextCont{
    gap:0.5rem;
}

.quickLinksCont{
    gap: 0.2rem;
}

.DDarrow > img{
    height: 1rem;
}

#DD{
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

#liDD{
    position: relative;
    cursor: pointer;
}

#DDBOX{
    background-color: #1C6758;
    color: white;
    position: absolute;
    top: 1.7rem;
    border-radius: 6px;
    transform: linear 150ms;
}

.DDoptions{
    padding: 1rem;
}

.DDoptions:hover{
    border-radius: 6px;
    cursor: pointer;
    background-color: #3D8361;
}



.dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-width 0.4s ease, max-height 0.4s ease;
}
  
.dropdown.show {
    max-height: 500px;
}

.DDarrow.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.colorGreen{
    color: #1C6758;
}